In [328]:
import pandas as pd

In [329]:
adidas = pd.read_csv("adidas.csv")

In [330]:
adidas

,url,name,sku,selling_price,original_price,currency,availability,color,category,source,source_website,breadcrumbs,description,brand,images,country,language,average_rating,reviews_count,crawled_at
0,https://www.adidas.com/us/beach-shorts/FJ5089....,Beach Shorts,FJ5089,40,NaN,USD,InStock,Black,Clothing,adidas United States,https://www.adidas.com,Women/Clothing,Splashing in the surf. Making memories with yo...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,35,2021-10-23 17:50:17.331255
1,https://www.adidas.com/us/five-ten-kestrel-lac...,Five Ten Kestrel Lace Mountain Bike Shoes,BC0770,150,NaN,USD,InStock,Grey,Shoes,adidas United States,https://www.adidas.com,Women/Shoes,Lace up and get after it. The Five Ten Kestrel...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.8,4,2021-10-23 17:50:17.423830
2,https://www.adidas.com/us/mexico-away-jersey/G...,Mexico Away Jersey,GC7946,70,NaN,USD,InStock,White,Clothing,adidas United States,https://www.adidas.com,Kids/Clothing,"Clean and crisp, this adidas Mexico Away Jerse...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.9,42,2021-10-23 17:50:17.530834
3,https://www.adidas.com/us/five-ten-hiangle-pro...,Five Ten Hiangle Pro Competition Climbing Shoes,FV4744,160,NaN,USD,InStock,Black,Shoes,adidas United States,https://www.adidas.com,Five Ten/Shoes,The Hiangle Pro takes on the classic shape of ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,3.7,7,2021-10-23 17:50:17.615054
4,https://www.adidas.com/us/mesh-broken-stripe-p...,Mesh Broken-Stripe Polo Shirt,GM0239,65,NaN,USD,InStock,Blue,Clothing,adidas United States,https://www.adidas.com,Men/Clothing,Step up to the tee relaxed. This adidas golf p...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,11,2021-10-23 17:50:17.702680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,https://www.adidas.com/us/supernova-plus-shoes...,Supernova+ Shoes,FX2858,72,$120,USD,InStock,White,Shoes,adidas United States,https://www.adidas.com,Women/Shoes,Take off. Touch down. Repeat. These adidas run...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.3,151,2021-10-23 17:52:31.937924
841,https://www.adidas.com/us/choigo-shoes/H00667....,Choigo Shoes,H00667,70,$100,USD,InStock,White,Shoes,adidas United States,https://www.adidas.com,Women/Shoes,"If you want drama, the bold female track and f...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.014973
842,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7705,35,$50,USD,InStock,Black,Shoes,adidas United States,https://www.adidas.com,Kids/Shoes,The style is in the details of the Daily 3.0 S...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.208426
843,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7706,40,$50,USD,InStock,Pink,Shoes,adidas United States,https://www.adidas.com,Kids/Shoes,The style is in the details of the Daily 3.0 S...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.293622
844,https://www.adidas.com/us/choigo-shoes/FY6503....,Choigo Shoes,FY6503,70,$100,USD,InStock,Black,Shoes,adidas United States,https://www.adidas.com,Women/Shoes,Take your style to bold new heights. Throw in ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.398104

In [331]:
cols = ['url', 'name', 'sku', 'currency',
       'availability', 'color', 'category', 'source', 'source_website',
       'breadcrumbs', 'description', 'brand', 'images', 'country', 'language']

In [332]:
cols

['url',
 'name',
 'sku',
 'currency',
 'availability',
 'color',
 'category',
 'source',
 'source_website',
 'breadcrumbs',
 'description',
 'brand',
 'images',
 'country',
 'language']

In [333]:
cols_validas = []
cols_many_levels = []
cols_one_level = []

size_df = adidas.shape[0]
umbral = .95

for c_ in cols:
    
    niveles = adidas.loc[ : , [c_] ].drop_duplicates().shape[0]
    
    if ( niveles / size_df ) >= umbral:
        cols_many_levels.append(c_)
    elif niveles == 1:
        cols_one_level.append(c_)
    else:
        cols_validas.append(c_)

In [334]:
cols_validas

['name', 'availability', 'color', 'category', 'breadcrumbs', 'description']

In [335]:
size_df = adidas.shape[0]
umbral = .98
cols_buscadas1 = []

for c_ in cols:
    
    niveles = adidas.loc[ : , [c_] ].drop_duplicates().shape[0]
    
    if (niveles > 1) and ( niveles / size_df ) >= umbral:
          cols_buscadas1.append(c_)

In [336]:
cols_validas = cols_buscadas1

In [337]:
cols_validas

['url', 'sku', 'images']

In [338]:
size_df = adidas.shape[0]
umbral = .98
cols_buscadas2 = []

for c_ in cols:
    
    niveles = adidas.loc[ : , [c_] ].drop_duplicates().shape[0]
    
    if ( 1 < niveles ) and ( niveles < 6 ):
          cols_buscadas2.append(c_)

In [339]:
cols_buscadas2

['availability', 'category']

In [340]:
### availability

In [341]:
levels_availability = adidas.groupby(["availability"], as_index = False ).agg({"sku":{"count"}})
levels_availability.columns = levels_availability.columns.droplevel(1)

In [342]:
levels_availability

  availability  sku
0      InStock  842
1   OutOfStock    3

In [343]:
levels_availability['availability_t'] = 'Others'

levels_availability

  availability  sku availability_t
0      InStock  842         Others
1   OutOfStock    3         Others

In [344]:
levels_availability.apply( lambda r: r['availability'] if r['sku'] > 3 else r['availability_t'], axis = 1 )

0    InStock
1     Others
dtype: object

In [345]:
levels_availability['availability_t'] = levels_availability.apply( lambda r: r['availability'] if r['sku'] > 421 else r['availability_t'], axis = 1 )

In [346]:
levels_availability

  availability  sku availability_t
0      InStock  842        InStock
1   OutOfStock    3         Others

In [347]:
levels_availability.loc[ : , ["availability","availability_t"] ]

  availability availability_t
0      InStock        InStock
1   OutOfStock         Others

In [348]:
levels_availability = levels_availability.loc[ : , ["availability","availability_t"] ]

In [349]:
adidas1 = adidas.merge( levels_availability, on =["availability"], how="left")

In [350]:
adidas1

,url,name,sku,selling_price,original_price,currency,availability,color,category,source,...,breadcrumbs,description,brand,images,country,language,average_rating,reviews_count,crawled_at,availability_t
0,https://www.adidas.com/us/beach-shorts/FJ5089....,Beach Shorts,FJ5089,40,NaN,USD,InStock,Black,Clothing,adidas United States,...,Women/Clothing,Splashing in the surf. Making memories with yo...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,35,2021-10-23 17:50:17.331255,InStock
1,https://www.adidas.com/us/five-ten-kestrel-lac...,Five Ten Kestrel Lace Mountain Bike Shoes,BC0770,150,NaN,USD,InStock,Grey,Shoes,adidas United States,...,Women/Shoes,Lace up and get after it. The Five Ten Kestrel...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.8,4,2021-10-23 17:50:17.423830,InStock
2,https://www.adidas.com/us/mexico-away-jersey/G...,Mexico Away Jersey,GC7946,70,NaN,USD,InStock,White,Clothing,adidas United States,...,Kids/Clothing,"Clean and crisp, this adidas Mexico Away Jerse...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.9,42,2021-10-23 17:50:17.530834,InStock
3,https://www.adidas.com/us/five-ten-hiangle-pro...,Five Ten Hiangle Pro Competition Climbing Shoes,FV4744,160,NaN,USD,InStock,Black,Shoes,adidas United States,...,Five Ten/Shoes,The Hiangle Pro takes on the classic shape of ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,3.7,7,2021-10-23 17:50:17.615054,InStock
4,https://www.adidas.com/us/mesh-broken-stripe-p...,Mesh Broken-Stripe Polo Shirt,GM0239,65,NaN,USD,InStock,Blue,Clothing,adidas United States,...,Men/Clothing,Step up to the tee relaxed. This adidas golf p...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,11,2021-10-23 17:50:17.702680,InStock
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,https://www.adidas.com/us/supernova-plus-shoes...,Supernova+ Shoes,FX2858,72,$120,USD,InStock,White,Shoes,adidas United States,...,Women/Shoes,Take off. Touch down. Repeat. These adidas run...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.3,151,2021-10-23 17:52:31.937924,InStock
841,https://www.adidas.com/us/choigo-shoes/H00667....,Choigo Shoes,H00667,70,$100,USD,InStock,White,Shoes,adidas United States,...,Women/Shoes,"If you want drama, the bold female track and f...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.014973,InStock
842,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7705,35,$50,USD,InStock,Black,Shoes,adidas United States,...,Kids/Shoes,The style is in the details of the Daily 3.0 S...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.208426,InStock
843,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7706,40,$50,USD,InStock,Pink,Shoes,adidas United States,...,Kids/Shoes,The style is in the details of the Daily 3.0 S...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.293622,InStock
844,https://www.adidas.com/us/choigo-shoes/FY6503....,Choigo Shoes,FY6503,70,$100,USD,InStock,Black,Shoes,adidas United States,...,Women/Shoes,Take your style to bold new heights. Throw in ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.398104,InStock

In [351]:
### category

In [352]:
levels_category = adidas.groupby(["category"], as_index = False ).agg({"sku":{"count"}})
levels_category.columns = levels_category.columns.droplevel(1)

In [353]:
levels_category

      category  sku
0  Accessories   82
1     Clothing  337
2        Shoes  426

In [354]:
levels_category['category_t'] = 'Others'

levels_category

      category  sku category_t
0  Accessories   82     Others
1     Clothing  337     Others
2        Shoes  426     Others

In [355]:
levels_category.apply( lambda r: r['category'] if r['sku'] > 82 else r['category_t'], axis = 1 )

0      Others
1    Clothing
2       Shoes
dtype: object

In [356]:
levels_category['category_t'] = levels_category.apply( lambda r: r['category'] if r['sku'] > 82 else r['category_t'], axis = 1 )

In [357]:
levels_category

      category  sku category_t
0  Accessories   82     Others
1     Clothing  337   Clothing
2        Shoes  426      Shoes

In [358]:
levels_category.loc[ : , ["category","category_t"] ]

      category category_t
0  Accessories     Others
1     Clothing   Clothing
2        Shoes      Shoes

In [359]:
levels_category = levels_category.loc[ : , ["category","category_t"] ]

In [360]:
adidas_final = adidas1.merge( levels_category, on =["category"], how="left")

In [361]:
adidas_final

,url,name,sku,selling_price,original_price,currency,availability,color,category,source,...,description,brand,images,country,language,average_rating,reviews_count,crawled_at,availability_t,category_t
0,https://www.adidas.com/us/beach-shorts/FJ5089....,Beach Shorts,FJ5089,40,NaN,USD,InStock,Black,Clothing,adidas United States,...,Splashing in the surf. Making memories with yo...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,35,2021-10-23 17:50:17.331255,InStock,Clothing
1,https://www.adidas.com/us/five-ten-kestrel-lac...,Five Ten Kestrel Lace Mountain Bike Shoes,BC0770,150,NaN,USD,InStock,Grey,Shoes,adidas United States,...,Lace up and get after it. The Five Ten Kestrel...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.8,4,2021-10-23 17:50:17.423830,InStock,Shoes
2,https://www.adidas.com/us/mexico-away-jersey/G...,Mexico Away Jersey,GC7946,70,NaN,USD,InStock,White,Clothing,adidas United States,...,"Clean and crisp, this adidas Mexico Away Jerse...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.9,42,2021-10-23 17:50:17.530834,InStock,Clothing
3,https://www.adidas.com/us/five-ten-hiangle-pro...,Five Ten Hiangle Pro Competition Climbing Shoes,FV4744,160,NaN,USD,InStock,Black,Shoes,adidas United States,...,The Hiangle Pro takes on the classic shape of ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,3.7,7,2021-10-23 17:50:17.615054,InStock,Shoes
4,https://www.adidas.com/us/mesh-broken-stripe-p...,Mesh Broken-Stripe Polo Shirt,GM0239,65,NaN,USD,InStock,Blue,Clothing,adidas United States,...,Step up to the tee relaxed. This adidas golf p...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,11,2021-10-23 17:50:17.702680,InStock,Clothing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,https://www.adidas.com/us/supernova-plus-shoes...,Supernova+ Shoes,FX2858,72,$120,USD,InStock,White,Shoes,adidas United States,...,Take off. Touch down. Repeat. These adidas run...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.3,151,2021-10-23 17:52:31.937924,InStock,Shoes
841,https://www.adidas.com/us/choigo-shoes/H00667....,Choigo Shoes,H00667,70,$100,USD,InStock,White,Shoes,adidas United States,...,"If you want drama, the bold female track and f...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.014973,InStock,Shoes
842,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7705,35,$50,USD,InStock,Black,Shoes,adidas United States,...,The style is in the details of the Daily 3.0 S...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.208426,InStock,Shoes
843,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7706,40,$50,USD,InStock,Pink,Shoes,adidas United States,...,The style is in the details of the Daily 3.0 S...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.293622,InStock,Shoes
844,https://www.adidas.com/us/choigo-shoes/FY6503....,Choigo Shoes,FY6503,70,$100,USD,InStock,Black,Shoes,adidas United States,...,Take your style to bold new heights. Throw in ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.398104,InStock,Shoes